{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": ["vendor", "bin", "tests", "docs"]
    },
    "logs": {
        "text": "humbuglog.txt"
    }
}
